<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title SeaFood</title>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Content/TemplateFile/images/favicon.png" type="">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/TemplateFile/css/bootstrap.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/TemplateFile/css/bootstrap.min.css" />*@
    <link href="~/Content/TemplateFile/templateTrangchu/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!--site css-->
    <link href="~/Content/TemplateFile/templateTrangchu/css/style.css" rel="stylesheet" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/Content/TemplateFile/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    @*<link href="~/Content/TemplateFile/css/style1.css" rel="stylesheet" />*@
    <link href="~/Content/TemplateFile/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/TemplateFile/css/responsive.css" rel="stylesheet" />
    @*<link href="~/Content/TemplateFile/css/style1.css" rel="stylesheet" />*@
    <link href="~/Content/TemplateFile/templateTrangchu/css/responsive.css" rel="stylesheet" />
</head>
<body class="sub_page">
    <div class="hero_area">
        <div class="bg-box">
            <img src="~/Content/TemplateFile/templateTrangchu/images/anhmanhinhcuoi.png" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="Index">
                        <span>
                            SeaFood Tavern
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index" style="white-space: nowrap;">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Product/Menu" style="white-space: nowrap;">Thực đơn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/About" style="white-space: nowrap;">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/LoginCustomer/Login" style="white-space: nowrap;">Đăng nhập</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <span class="glyphicon glyphicon-shopping-cart">
                                    <a class="btn btn-outline-warning" href="/ShoppingCart/ShowCart" style="font-weight:150;">
                                        <img src="~/Content/TemplateFile/images/icon-buy.png" />
                                    </a>
                                </span>
                                @Html.Action("BagCart", "ShoppingCart")
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4 style="color:white;">
                            Liên hệ
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Địa điểm
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call 038856658
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    SeafoodTavern@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            SeaFood Tavern
                        </a>
                        <p>
                            Nếu có bất kỳ thắc mắc nào,hãy liên hệ chúng tôi để có được câu trả lời thoả đáng nhất!
                        </p>
                        <div class="footer_social">
                            <a href="https://www.facebook.com/profile.php?id=61551456411840&mibextid=LQQJ4d">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/OBriensOyster">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>

                            <a href="https://www.instagram.com/pier12seafoodtavern/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="https://pin.it/PHwwfnF">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4 style="color:white;">
                        Thời gian mở cửa
                    </h4>
                    <p>
                        Thứ 2 đến thứ 7
                    </p>
                    <p>
                        3.00 PM - 11.00 PM
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"><h2 style="color:white;"> Hân hạnh được phục vụ quý khách </h2></span>
                    
                    &copy; <span id="displayYear"><a href="https://themewagon.com/" target="_blank" style="color:white;"> Ý tưởng được dựa theo ThemeWagon</a></span>
                    
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/Content/TemplateFile/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/Content/TemplateFile/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/Content/TemplateFile/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
</body>
</html>
