@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<body>

    <!-- Start slides -->
    <div id="slides" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="~/Content/TemplateFile/templateTrangchu/images/anhmanhinh1.png" alt="Alternate Text" />
            </li>
            <li class="text-left">
                <img src="~/Content/TemplateFile/templateTrangchu/images/anhmanhinh3.png" alt=""> 
            </li>
            <li class="text-left">
                <img src="~/Content/TemplateFile/templateTrangchu/images/anhmanhinh4.png" alt="">
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End slides -->
    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1><span>Seafood Taver</span> Xin chào </h1>
                        <p style="text-align: justify;">Cách đây một thời gian, tại một ngôi làng nhỏ dọc bờ biển, tồn tại một quán nhỏ mang tên "SeaFood". Vào năm 2008, ngôi làng ấy nổi tiếng với sự đa dạng phong phú của các loài sinh vật biển cùng với khéo léo tài ba hàng ngày ra khơi của những dân chài.</p>
                        <p style="text-align: justify;">SeaFood Tavern được sáng lập bởi một ngư dân tràn đầy niềm đam mê tên Samuel. Anh mang trong mình một tình yêu mãnh liệt dành cho biển cả cùng với các loại hải sản tươi ngon từ ngôi làng của mình. Với niềm khát khao chia sẻ hương vị thân thuộc nơi biển mẹ tới những người dân trong làng , Samuel đã biến căn nhà giản dị của mình thành một nhà hàng ấm áp, thân thuộc ,nổi tiếng nơi đây.</p>
                        <a class="btn btn-lg btn-circle btn-outline-new-white" href="https://localhost:44355/Home/About">Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                      <img src="~/Content/TemplateFile/templateTrangchu/images/about-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->
    <!--gallery-->
    <div class="about_gallery-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading_container heading_center psudo_white_primary mb_45">
                        <h2> Nơi mà hương vị gặp gỡ đam mê</h2>
                    </div>
                </div>
            </div>
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay1.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay1.png" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay2.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay2.png" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay3.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay3.png" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhnen.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhnen.png" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay5.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhtrungbay5.png" alt="Gallery Images">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <a class="lightbox" href="~/Content/TemplateFile/templateTrangchu/images/anhtrangtri6.png">
                            <img class="img-fluid" src="~/Content/TemplateFile/templateTrangchu/images/anhtrangtri6.png" alt="Gallery Images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

    <!-- ALL JS FILES -->
    <script src="~/Content/TemplateFile/templateTrangchu/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/popper.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/TemplateFile/templateTrangchu/js/jquery.superslides.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/images-loded.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/isotope.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/baguetteBox.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/form-validator.min.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/contact-form-script.js"></script>
    <script src="~/Content/TemplateFile/templateTrangchu/js/custom.js"></script>
</body>

@*end about section

    Back to Top*@
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/TemplateFile/lib/wow/wow.min.js"></script>
<script src="~/Content/TemplateFile/lib/easing/easing.min.js"></script>
<script src="~/Content/TemplateFile/lib/waypoints/waypoints.min.js"></script>
<script src="~/Content/TemplateFile/lib/counterup/counterup.min.js"></script>
<script src="~/Content/TemplateFile/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/TemplateFile/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/Content/TemplateFile/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/Content/TemplateFile/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
@*Template Javascript*@
<script src="~/Content/TemplateFile/js/main.js"></script>
<!-- end section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Phản hồi của thực khách
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Hải sản tại đây thật sự tuyệt vời! Tươi ngon, tươi sống và được chế biến một cách tinh tế
                            </p>
                            <h6 style="color:white">
                                Dương Duy Kha
                            </h6>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/TemplateFile/templateTrangchu/images/anhthuckhach1.png" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Nếu bạn là fan hải sản, đây chính là thiên đường của bạn.Đa dạng tươi ngon và hương vị độc đáo.
                            </p>
                            <h6 style="color:white">
                                Hồ Bình An
                            </h6>

                        </div>
                        <div class="img-box">
                            <img src="~/Content/TemplateFile/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Tôi thực sự hài lòng với sự tươi ngon và độ tinh khiết của từng món. Hương vị đặc trưng khiến tôi thấy mãn nhãn và thỏa mãn
                            </p>
                            <h6 style="color:white">
                                Phan Thanh Nhân
                            </h6>

                        </div>
                        <div class="img-box">
                            <img src="~/Content/TemplateFile/templateTrangchu/images/anhthuckhach3.png" alt="" class="box-img">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- end client section -->