<span style="color:white; margin-left: 2px">
    <br />
    Số lượng: <b>@ViewBag.QuantityCart</b>
    <br />
    Tổng tiền: <b style=" white-space: nowrap;">@ViewBag.TotalCart.ToString("#,##0").Replace(',', '.') đồng</b>
</span>
