@using SeaFood.Models
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div>
    <h2 style="text-align:center;">Thanh toán thành công</h2>
    <h2 style="text-align:center;">Hẹn gặp lại quý khách</h2>
    <p style="text-align:center;"><a href="@Url.Action("Menu","Product")">Tiếp tục mua hàng</a></p>
</div>


